*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f28ab2;
}

#root {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	cursor: pointer;
	border-radius: 5px;
	border: 0;
	padding: 10px 18px;
	letter-spacing: 1.5px;
}

@media (min-width: 800px) {
	.b-list .title {
		font-size: 1.7rem;
	}

	.b-list .item .name {
		font-size: 0.95rem;
	}

	.b-list .item .age {
		font-size: 15px;
	}
}
